/*
 * Basic CSS starts 
 */
 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

body{
	align-items: center;
	color: #252c37;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
p{
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 24px;
}
ul{
	list-style-type: none;
	margin: 10px;
	padding: 0;
	overflow: hidden;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.btn, .form-control,
.form-control:focus {
	border-radius: 0px !important;
	box-shadow: none !important;
	outline: none !important;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 12px 32px;
	font-size: 18px;
}


.pad {
	padding-top: 110px;
	padding-bottom: 20px;
	background-color: white;
}
.firstpad {
	padding-top: 150px;
	padding-bottom: 50px;
	background-color: white;
}
/*general info(only pad1 is general info pad)*/
.firstpad p1{	
	font-size: 18px;
}
.lastpad {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
}

.parallax-one { background: url('../img/promo/p1.jpeg') fixed 50%;}
.parallax-two { background: url('../img/background/overlay.png'), url('../img/promo/p2.jpg') fixed 50%;}
.parallax-three { background: url('../img/background/overlay.png'), url('../img/promo/p3.jpg') fixed 50%;}
.parallax-four { background: url('../img/background/overlay.png'), url('../img/promo/p4.jpg') fixed 50%;}


 
/* header */
/*new navigation*/
/* navigation */
.navbar {
	margin-top: 40px;
	border: 0;
	border-radius:0;
	box-shadow: none;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.navbar.comeup {margin-top: 0;background: rgba(0,0,0,0.9);}
.navbar-default .navbar-nav>li>a {
	padding: 25px 20px;
	font-size: 15px;
	font-weight: 700;
}

.navbar-default .navbar-toggle .icon-bar {background: #eeeeee;}
.navbar-default .navbar-toggle {border-radius: 0;}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{background: transparent;}

.navbar-brand>img {
	width: 65%;
	max-width: 130px;
}
/*social media buttons*/
/*header*/
.sm-social-link a.fa-linkedin:hover,
.sm-social-link a.fa-linkedin:active{
	background-color: #0072b1;
}
.sm-social-link a.fa-github:hover,
.sm-social-link a.fa-github:active{
	background-color: #333;
}
.sm-social-link a.fa-instagram:hover,
.sm-social-link a.fa-instagram:active{
	background-color: #C13584;
}
.sm-social-link a.fa-google:hover,
.sm-social-link a.fa-google:active{
	background-color: #db3236;
}

/*footer*/
.social a.fa-linkedin:hover,
.social a.fa-linkedin:active{
	background-color: #0072b1;
}
.social a.fa-github:hover,
.social a.fa-github:active{
	background-color: #333;
}
.social a.fa-instagram:hover,
.social a.fa-instagram:active{
	background-color:#C13584;
}
.social a.fa-google:hover,
.social a.fa-google:active{
	background-color:#db3236;
}
/*experience*/
dl.expinfo{
	background-color:#656565;
	border-radius: 24px;
	color:white;
	padding: 30px;
}
.expinfo dt{
	font-size: 18px;
}
.expinfo dd{
	font-size: 16px;
	
}

/*skills*/
.skilllist{
	text-align: center;
}
.skilllist ul li{
	display: inline-flex;
	padding-left: 30px;
	padding-right: 30px;
}/*
.pad .skilllist ul li img:hover,
.pad .skilllist ul li img:active{
	width: 150%;

}*/

img.skillimg:hover,
img.skillimg:active{
	width: 150%;
}
/*detail*/
ul.skilldetail{
	border-radius: 24px;
	list-style-type: disc;
	padding: 30px;
	background-color: gray;
}
li.skilldetail{
	float:none;
	font-size: 18px;
	color: white;
	list-style-type: disc;
}
/*education*/
.educationItem{
	padding-bottom: 100px;
}
.educationItem h1{
	font-size:18px;
}
.educationItem p1{
	font-size:18px;
}
.educationItem img{
	width: 9%;
	height: 9%;
	float: left;
	padding-right: 30px;
}
/*language*/
.languageItem dt{
	background-color: gray;
	border-radius: 24px;
	padding-left: 200px;
	color:white;
	font-size: 18px;
	padding:10px;
}
.languageItem dd{
	background-color: gray;
	border-radius: 24px;
	color:white;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 20px;
}
/*Interests*/
.interestItem img{
	max-width: 100px;
}
.interestItem{
	text-align: center;
}
.interestItem ul li{
	display: inline-flex;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
/*hover over img (interest)*/
	.content_img img{
		max-width: 100px;
		padding: 0px;
	}
	/* Parent Container */
	.content_img{
		position: relative;
		max-width: 100px;
		max-height: 100px;
		float: left;
		margin-right: 10px;
	}
	
	/* Child Text Container */
	.content_img div{
		position: absolute;
		bottom: 0;
		right: 0;
		background: black;
		color: white;
		margin-bottom: 5px;
		font-family: sans-serif;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility 0s, opacity 0.5s linear; 
		transition: visibility 0s, opacity 0.5s linear;
	}
	
	/* Hover on Parent Container */
	.content_img:hover{
		cursor: pointer;
	}
	
	.content_img:hover div{
		width: 150px;
		padding: 8px 15px;
		visibility: visible;
		opacity: 0.7; 
	}
/*Ask me*/
.askItem{
	border-radius: 24px;
	float: left;
}
.askItem dl{
	border-radius: 24px;
	background-color: gray;
	color: white;
	font-size: 20px;
	width: auto;
}
.askItem dd{	
	padding-left: 20px;
	padding-top: 5px;
}
.askItem dt{
	padding-left: 10px;
	padding-top: 5px;
}
.askLink  a {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0 7px;
	margin-bottom: 30px;
	color: white;
	background-color: gray;
	font-size: 32px;
	border: 1px solid transparent;
	border-radius: 80px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
/* secondary menu */

.secondary-menu {
	position: fixed;
	z-index: 99999;
	width: 100%;
	background: rgba(0,0,0,0.9);
}
.secondary-menu .sm-left {
	float: left;
	text-align: left;
}

.secondary-menu .sm-left a {
	color: #ccc;
}

.secondary-menu .sm-right {
	float: right;
	text-align: right;
}

.secondary-menu .sm-left,
.secondary-menu .sm-right {
	line-height: 40px;
	color: #fff;
}

.secondary-menu .sm-social-link a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.3);
}

/* default heading */

.default-heading,
.default-heading-shadow {
	text-align: center;
	margin-bottom: 40px;
}

.default-heading h2,
.default-heading-shadow h2 {
	position: relative;
	display: inline-block;
	border-radius: 24px;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 25px 30px;
	font-size: 30px;
	text-transform: uppercase;
	animation: changeBorderColor 5s infinite;
}

.default-heading h2:after,
.default-heading-shadow h2:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(240, 240, 255, 0);
	border-width: 20px;
	margin-left: -20px;
	animation: changeTailColor 5s infinite;
}

.default-heading-shadow h2 {color: #fff;}


/*animated border*/
@keyframes changeBorderColor {
	from {border-color: red;border-top-color: red;}
	to {border-color: blue;border-top-color: blue;}
}
@keyframes changeTailColor {
	from {border-top-color: red;}
	to {border-top-color: blue;}
}


/* promo */

.promo .promo-element {
	text-align: center;
}

.promo .promo-element h3{
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 40px;
	line-height: 52px;
	color: #fff;
}

.promo .promo-element p {
	font-size: 32px;
	line-height: 44px;
	font-weight: 300;
	color: #fff;	
}

.promo .promo-element .promo-link {
	display: block;
	width: 120px;
	height: 120px;
	line-height: 120px;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 80px;
	text-align: center;
	color: #fff;
}


/* call to action block */

.cta .cta-element {padding: 40px;}

.cta-element h3 {
	margin-top: 0;
	font-size: 26px;
	line-height: 36px;
	color: #fff;
}

.cta .cta-element p {
	font-style: italic;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
}

.cta-element .cta-btn{
	margin-top: 25px;
}


/* footer */
footer {
	padding-top: 50px;
	padding-bottom: 30px;
	background: #252c37;
	text-align: center;
}

footer .social a {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 0 7px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 32px;
	border: 1px solid transparent;
	border-radius: 80px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}


/* Back to top */

.totop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 104400;
}

.totop a, .totop a:visited{
	display: block;
	width: 50px;
	height: 50px;
	color: #fff !important;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	border-radius: 2px;
}

/*
 * Style switcher
 */

.style-switcher{
	width:25px;
	position:fixed;
	top:150px;
	right:0px;
	background:#fff;
	z-index:10000;
	box-shadow:0px 1px 2px rgba(0,0,0,0.15);
}

.style-switcher a{
	display:block;
	width:15px;
	height:15px;
	margin: 5px auto;
}	

/*
 * Responsive CSS 
 */

/*
 * Mobile phones 
 */
 
@media (max-width: 575px){
	.banner .slide-one h3, .banner .slide-two h3,
	.banner-video .slider .video-header {bottom: 70px;}
	
	.meet .meet-map .map-marker img {max-width: 15px !important;}
}

/*
 * Tablets 
 */
@media (max-width: 767px){
	.navbar-default .navbar-collapse {
		border-color: rgba(0,0,0,0.15);
		box-shadow: none;
	}
	
	.navbar-default .navbar-brand {padding-top: 5px;}
	.navbar-default .navbar-brand>img {max-width: 140px;}
	
	.navbar, .navbar.comeup { margin-top: 0; padding: 10px 0; background: rgba(0,0,0,0.9);}
	header .navbar-default .navbar-nav>li>a, header .navbar-default .navbar-nav>li.active>a,
	header .navbar-default .navbar-nav>li.active>a:hover, header .navbar-default .navbar-nav>li>a:hover	{ 
		padding-top: 8px;
		padding-bottom: 8px;
		background: none;
	}
	.navbar .navbar-nav {margin-top: 0;}
	.secondary-menu {display: none;}
}

/*
 * Desktop 
 */
@media (max-width: 1200px){
	
}
@media (min-width: 1000px){
	.askItem dd{
		width: 400px;
	}
	.languageItem{
		width: 600px;
	}
}